.content-container{
  padding-top:60px;
  text-align: center;
  margin: 0 auto;
  width:960px;
}

.submit-button{
  margin-top:30px;
}

.confirm-button{
  margin-right: 15px;
  margin-top:30px;
}

.tip-container{
  margin-top: 20px;
  color:#666666;
}

.tip-input-container{
  margin-top: 20px;
}
