.left-card {
    width: auto;
    height: auto;
    min-height: 0;
}

.topic-item-container {
    text-align: left;
    padding: 0 24px;
}

.topic-item-misc {
    color: #999;
    padding-top: 8px;
}

.topic-item-subtime {
    padding-left: 20px;
}

.topic-item-misc i {
    font-size: 18px;
    position: absolute;
}

.topic-misc-text {
    padding-left: 20px;
}

.topic-item-line {
    height: 1px;
    color: #999;
    margin: 0;
}

.topic-item-title a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.mdl-badge[data-badge]:after {
    top: 0px;
}

.pagination {
    padding-top: 14px;
}

.pagination a {
    text-decoration: none;
    width: 20px;
    height: 20px;
}

.pagination a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pagination-item {
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border: 0px solid #999;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    font-weight: bold;
    font-size: 10px;
}

.current {
    border: 0px solid #fff;
    width: auto;
    min-width: 30px;
    background-color: #3f51b5;
    color: #f0f0f0;
    font-weight: bold;
    font-size: 13px;
}
