.left-card {
    width: auto;
    height: auto;
    min-height: 0;
}

.topic-item-container {
    text-align: left;
    padding: 12px 24px;
}

.topic-item-misc {
    color: #999;
}

.topic-item-line {
    height: 1px;
    color: #999;
    margin: 0;
}

.topic-item-title a{
  text-decoration: none;
  color:black;
  font-weight: 700;
}
