{% extends "forum/forum_base.html" %}
{% load static %}
{% block leftcontentstyle %}
<link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">
{% endblock %}
{% block leftcontent %}
<div class="left-card mdl-card mdl-shadow--2dp">
  {% for item in topices %}
  <div class="topic-item-container">
    <div class="topic-item-title">
      <strong>{{ item.title }}</strong>
    </div>
    <div class="topic-item-misc">
      <small>
        <span>
          {{ item.user }}
        </span>
        <span>
          {{ item.subtime|timeuntil }}
        </span>
      </small>
    </div>
  </div>
  {% endfor %}
  <div class="topic-item-container">
    <div class="topic-item-title">
      <strong>测试测试测试testtesttest</strong>
    </div>
    <div class="topic-item-misc">
      <small>
        <span>
          omret
        </span>
        <span>
          2 week
        </span>
      </small>
    </div>
  </div>
</div>
{% endblock %}
{% block leftcontentscript %}
{% endblock %}
