{% extends "omretforum/forum_base.html" %}
{% load static %}
{% block leftcontentstyle %}
<link rel="stylesheet" href="{% static 'omretforum/css/forum.css' %}">
{% endblock %}
{% block leftcontent %}
<div class="left-card mdl-card mdl-shadow--2dp">
  <div class="topic-list-container">
    {% for item in topices %}
    <div class="topic-item-container">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--11-col">
          <div class="topic-item-title">
            <a href="/forum/topic{{ item.id }}">{{ item.title }}</a>
          </div>
          <div class="topic-item-misc">
            <small>
              <i class="material-icons">account_box</i><span class="topic-misc-text">{{ item.author }}</span>
            </small>
            <small class="topic-item-subtime">
              <i class="material-icons">schedule</i><span class="topic-misc-text">{{ item.subtime | timesince }} ago</span>
            </small>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--1-col">
          <span class="mdl-badge" data-badge="{{ item.comment_num }}"></span>
        </div>
      </div>
    </div>
      {% if not forloop.last %}
      <hr class="topic-item-line">
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="pagination">
      <a href="?page=1"><span class="pagination-item">&lt;&lt;</span></a>
      {% if topices.has_previous %}
          <a href="?page={{ topices.previous_page_number }}"><span class="pagination-item">&lt;</span></a>
      {% endif %}

      <span class="current pagination-item">
        {{ topices.number }}/{{ topices.paginator.num_pages }}
      </span>

      {% if topices.has_next %}
          <a href="?page={{ topices.next_page_number }}"><span class="pagination-item">&gt;</span></a>
      {% endif %}
      <a href="?page={{ topices.paginator.num_pages }}"><span class="pagination-item">&gt;&gt;</span></a>

</div>
{% endblock %}
{% block leftcontentscript %}
{% endblock %}
