{% extends "index_base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'omretuser/css/signin.css' %}">
{% endblock %}
{% block content %}
<div class="content-container">
  <h5>SIGN IN 登录</h5>

  <form id="signin-form" action="/signin/" method="post">
    {% csrf_token %}
    <div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="username" name="username" pattern="[0-9,A-Z,a-z,_]*">
        <label class="mdl-textfield__label" for="username">User name</label>
        <span class="mdl-textfield__error">请使用字母数字和下划线组合</span>
      </div>
    </div>
    <div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="password" name="password" pattern="[A-Z,a-z,_,-]*">
        <label class="mdl-textfield__label" for="password">Password</label>
        <span class="mdl-textfield__error">请勿包含特殊字符，请使用字母,-,_</span>
      </div>
    </div>
    <button class="signin-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" id="signin-button">
      登录
    </button>
  </form>
</div>
{% endblock %}
{% block script %}
{% endblock %}
